<!doctype html>
<html>
    <head>
        <title>ToDO List</title>
        <meta author="Martin Skala">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/ptacek.js"></script>
    </head>
    <body>
        <div class="header">
            <div> Přidat poznámku </div>
            <div> Zobrazit plán</div>
            <div> Splněno</div>
            <div> Přihlásit se</div>
        </div>
        <div  class="telo">
            <img src="/media/todo.png" alt="Predstava" width="98%" style="align-self:center;margin:1%;">
        </div>
    </body>
</html>
